In [2]:
import os
import numpy as np
import pandas as pd
import scipy.sparse as sp
import torch
data_dir='/data/NK/'

In [3]:
data_adj=pd.read_csv(os.path.join(data_dir, f'ppi_of_NK.csv'),sep=",")
data_adj.head(10)

,1,368,8754,5290,3172,3164,204,14,847,183,...,375611,90139,9331,283358,8708,9227,124961,2529,117156,5251
1,0,1,1,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
368,1,0,0,0,1,1,1,0,0,0,...,0,0,0,0,0,0,0,0,0,0
8754,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5290,1,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3172,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
3164,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
204,0,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
14,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
847,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
183,0,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0

In [4]:
index=data_adj.index
index

Int64Index([     1,    368,   8754,   5290,   3172,   3164,    204,     14,
               847,    183,
            ...
            375611,  90139,   9331, 283358,   8708,   9227, 124961,   2529,
            117156,   5251],
           dtype='int64', length=8511)

In [5]:
ed=sp.coo_matrix(data_adj)
indices=np.vstack((ed.row,ed.col))
index=torch.LongTensor(indices)
values=torch.FloatTensor(ed.data)
edge_index=torch.sparse_coo_tensor(index,values,ed.shape)
edge_index=edge_index.coalesce().indices() 
edge_index

tensor([[   0,    0,    0,  ..., 8508, 8509, 8510],
        [   1,    2,    3,  ..., 3769, 8474, 6051]])

In [6]:
def read_single_csv(input_path):
    df_chunk=pd.read_csv(input_path,sep=",",chunksize=5000) 
    res_chunk=[]
    for chunk in df_chunk:
        res_chunk.append(chunk)
    res_df=pd.concat(res_chunk)
    return res_df

In [7]:
Log_normalized_matrix_of_naive_cd4=read_single_csv(os.path.join(data_dir, f'expression_of_NK.csv'))
Log_normalized_matrix_of_naive_cd4.iloc[:3487,:]

,1,368,8754,5290,3172,3164,204,14,847,183,...,375611,90139,9331,283358,8708,9227,124961,2529,117156,5251
meta100,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.096977,0.204885,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0
meta101,0.190978,0.0,0.0,0.206233,0.0,0.101229,0.188599,0.297983,0.101229,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0
meta102,0.105910,0.0,0.0,0.000000,0.0,0.087403,0.096477,0.206901,0.088311,0.0,...,0.0,0.0,0.103732,0.0,0.0,0.00000,0.0,0.0,0.0,0.0
meta103,0.190978,0.0,0.0,0.000000,0.0,0.060198,0.112436,0.302726,0.088311,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0
meta104,0.090321,0.0,0.0,0.000000,0.0,0.000000,0.133303,0.195215,0.247647,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
meta11448,0.000000,0.0,0.0,0.291475,0.0,0.000000,0.000000,0.092350,0.237029,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.10897,0.0,0.0,0.0,0.0
meta11449,0.000000,0.0,0.0,0.000000,0.0,0.000000,0.000000,0.083744,0.000000,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0
meta11450,0.171696,0.0,0.0,0.189649,0.0,0.000000,0.000000,0.119981,0.101229,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0
meta11451,0.067250,0.0,0.0,0.086464,0.0,0.000000,0.000000,0.000000,0.107381,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.10897,0.0,0.0,0.0,0.0
meta11452,0.104446,0.0,0.0,0.379675,0.0,0.000000,0.000000,0.173938,0.071738,0.0,...,0.0,0.0,0.000000,0.0,0.0,0.00000,0.0,0.0,0.0,0.0

In [8]:
id=Log_normalized_matrix_of_naive_cd4.iloc[:3487,:].index
id

Index(['meta100', 'meta101', 'meta102', 'meta103', 'meta104', 'meta105',
       'meta106', 'meta107', 'meta108', 'meta109',
       ...
       'meta11443', 'meta11444', 'meta11445', 'meta11446', 'meta11447',
       'meta11448', 'meta11449', 'meta11450', 'meta11451', 'meta11452'],
      dtype='object', length=3487)

In [9]:
node_exaction=pd.read_csv(f'NK_explain_edges_index.txt',header=None,sep='\n')
node_exaction.head(5)

                                                   0
0  49, 1305, 1.0], [49, 1312, 1.0], [49, 3686, 1....
1  7, 1160, 1.0], [7, 6602, 1.0], [11, 83, 1.0], ...
2  11, 83, 1.0], [11, 89, 1.0], [11, 107, 1.0], [...
3  11, 83, 1.0], [11, 107, 1.0], [11, 110, 1.0], ...
4  11, 107, 1.0], [11, 119, 1.0], [11, 120, 1.0],...

In [10]:
node_exaction.dtypes

0    object
dtype: object

In [11]:
len(node_exaction)

3487

In [12]:
node_exaction = node_exaction[0].str.split(',',expand=True) 
node_exaction.head(5)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
0,49,1305,1.0],[49,1312,1.0],[49,3686,1.0],[49,...,1.0],[107,1284,1.0],[107,1305,1.0],[107,1766,1.0
1,7,1160,1.0],[7,6602,1.0],[11,83,1.0],[11,...,1.0],[70,131,1.0],[70,690,1.0],[70,1160,1.0
2,11,83,1.0],[11,89,1.0],[11,107,1.0],[11,...,1.0],[45,3784,1.0],[52,1343,1.0],[52,3946,1.0
3,11,83,1.0],[11,107,1.0],[11,110,1.0],[11,...,1.0],[45,71,1.0],[45,82,1.0],[45,110,1.0
4,11,107,1.0],[11,119,1.0],[11,120,1.0],[11,...,1.0],[68,3204,1.0],[68,3255,1.0],[68,3945,1.0

In [13]:
node_exaction.index=id
node_exaction.head(5)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
meta100,49,1305,1.0],[49,1312,1.0],[49,3686,1.0],[49,...,1.0],[107,1284,1.0],[107,1305,1.0],[107,1766,1.0
meta101,7,1160,1.0],[7,6602,1.0],[11,83,1.0],[11,...,1.0],[70,131,1.0],[70,690,1.0],[70,1160,1.0
meta102,11,83,1.0],[11,89,1.0],[11,107,1.0],[11,...,1.0],[45,3784,1.0],[52,1343,1.0],[52,3946,1.0
meta103,11,83,1.0],[11,107,1.0],[11,110,1.0],[11,...,1.0],[45,71,1.0],[45,82,1.0],[45,110,1.0
meta104,11,107,1.0],[11,119,1.0],[11,120,1.0],[11,...,1.0],[68,3204,1.0],[68,3255,1.0],[68,3945,1.0

In [14]:
node_exaction.dtypes

0      object
1      object
2      object
3      object
4      object
        ...
295    object
296    object
297    object
298    object
299    object
Length: 300, dtype: object

In [15]:
data_adj["index"]=data_adj.index
data_adj=data_adj.reset_index()
data_adj.head(5)

,level_0,1,368,8754,5290,3172,3164,204,14,847,...,90139,9331,283358,8708,9227,124961,2529,117156,5251,index
0,1,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,1
1,368,1,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,0,368
2,8754,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,8754
3,5290,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,5290
4,3172,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,3172

In [16]:
data_adj["key"]=data_adj.index
data_adj.head(5)

,level_0,1,368,8754,5290,3172,3164,204,14,847,...,9331,283358,8708,9227,124961,2529,117156,5251,index,key
0,1,0,1,1,1,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,0
1,368,1,0,0,0,1,1,1,0,0,...,0,0,0,0,0,0,0,0,368,1
2,8754,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,8754,2
3,5290,1,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,5290,3
4,3172,0,1,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,3172,4

In [17]:
node_key_value=data_adj.set_index(["key"])["index"].to_dict()

In [18]:
len(node_key_value)

8511

In [19]:
import json
with open('node_key_value.json', 'w') as f:
    json.dump(node_key_value, f)

In [20]:
import json
with open('node_key_value.json' ) as f:
    df_test = json.load(f)

In [21]:
df_test

{'0': 1,
 '1': 368,
 '2': 8754,
 '3': 5290,
 '4': 3172,
 '5': 3164,
 '6': 204,
 '7': 14,
 '8': 847,
 '9': 183,
 '10': 29109,
 '11': 93185,
 '12': 5738,
 '13': 6047,
 '14': 7706,
 '15': 6810,
 '16': 4085,
 '17': 928,
 '18': 1969,
 '19': 51296,
 '20': 5159,
 '21': 1946,
 '22': 2043,
 '23': 3688,
 '24': 10678,
 '25': 4059,
 '26': 3732,
 '27': 1943,
 '28': 3655,
 '29': 22921,
 '30': 55851,
 '31': 23516,
 '32': 23446,
 '33': 6901,
 '34': 81619,
 '35': 23555,
 '36': 10098,
 '37': 10867,
 '38': 56975,
 '39': 1944,
 '40': 2274,
 '41': 5594,
 '42': 5727,
 '43': 8726,
 '44': 10459,
 '45': 7133,
 '46': 54549,
 '47': 7078,
 '48': 8600,
 '49': 10726,
 '50': 25962,
 '51': 6045,
 '52': 51100,
 '53': 578,
 '54': 29763,
 '55': 3680,
 '56': 203102,
 '57': 910,
 '58': 170589,
 '59': 11004,
 '60': 6504,
 '61': 84866,
 '62': 26523,
 '63': 1994,
 '64': 3183,
 '65': 10492,
 '66': 27327,
 '67': 27161,
 '68': 1650,
 '69': 3014,
 '70': 292,
 '71': 293,
 '72': 8626,
 '73': 7514,
 '74': 3191,
 '75': 10614,
 '76': 6745,
 '77': 11345,
 '78': 23405,
 '79': 6134,
 '80': 1314,
 '81': 8452,
 '82': 1642,
 '83': 1655,
 '84': 1665,
 '85': 10294,
 '86': 9775,
 '87': 2058,
 '88': 2289,
 '89': 3020,
 '90': 3021,
 '91': 55662,
 '92': 8331,
 '93': 8359,
 '94': 8366,
 '95': 8364,
 '96': 8360,
 '97': 8367,
 '98': 8361,
 '99': 8365,
 '100': 8294,
 '101': 8363,
 '102': 8362,
 '103': 8368,
 '104': 8370,
 '105': 128312,
 '106': 121504,
 '107': 3178,
 '108': 3185,
 '109': 3188,
 '110': 3192,
 '111': 3326,
 '112': 3608,
 '113': 3609,
 '114': 10989,
 '115': 55379,
 '116': 55646,
 '117': 9782,
 '118': 10514,
 '119': 4869,
 '120': 26986,
 '121': 5094,
 '122': 11331,
 '123': 5431,
 '124': 6135,
 '125': 6136,
 '126': 23521,
 '127': 6137,
 '128': 9045,
 '129': 6138,
 '130': 6139,
 '131': 6142,
 '132': 6141,
 '133': 6143,
 '134': 6144,
 '135': 6147,
 '136': 9349,
 '137': 6152,
 '138': 6154,
 '139': 6157,
 '140': 6160,
 '141': 6165,
 '142': 11224,
 '143': 6168,
 '144': 6169,
 '145': 6124,
 '146': 6128,
 '147': 6129,
 '148': 6132,
 '149': 6175,
 '150': 6207,
 '151': 6210,
 '152': 6222,
 '153': 6228,
 '154': 6187,
 '155': 6189,
 '156': 6188,
 '157': 6191,
 '158': 6193,
 '159': 6194,
 '160': 6201,
 '161': 6202,
 '162': 6203,
 '163': 10856,
 '164': 23451,
 '165': 10992,
 '166': 23450,
 '167': 51639,
 '168': 10165,
 '169': 5250,
 '170': 23020,
 '171': 6950,
 '172': 55161,
 '173': 7316,
 '174': 4904,
 '175': 648,
 '176': 2100,
 '177': 4343,
 '178': 10482,
 '179': 55802,
 '180': 55832,
 '181': 10969,
 '182': 8335,
 '183': 3012,
 '184': 11103,
 '185': 5439,
 '186': 5970,
 '187': 114928,
 '188': 1915,
 '189': 2547,
 '190': 167227,
 '191': 8886,
 '192': 4171,
 '193': 55226,
 '194': 7157,
 '195': 79084,
 '196': 1105,
 '197': 3015,
 '198': 8345,
 '199': 10643,
 '200': 10528,
 '201': 9533,
 '202': 5976,
 '203': 10273,
 '204': 5133,
 '205': 10657,
 '206': 1748,
 '207': 5430,
 '208': 7161,
 '209': 1540,
 '210': 23411,
 '211': 22870,
 '212': 9733,
 '213': 10526,
 '214': 509,
 '215': 56957,
 '216': 5434,
 '217': 94239,
 '218': 8350,
 '219': 8358,
 '220': 8352,
 '221': 8351,
 '222': 8353,
 '223': 8968,
 '224': 8355,
 '225': 8357,
 '226': 8354,
 '227': 8356,
 '228': 10419,
 '229': 6231,
 '230': 8347,
 '231': 8344,
 '232': 8343,
 '233': 8339,
 '234': 8346,
 '235': 57418,
 '236': 51726,
 '237': 170506,
 '238': 861,
 '239': 2332,
 '240': 64960,
 '241': 8487,
 '242': 84557,
 '243': 51116,
 '244': 192669,
 '245': 9329,
 '246': 85236,
 '247': 10642,
 '248': 84844,
 '249': 23345,
 '250': 8338,
 '251': 3018,
 '252': 8349,
 '253': 5433,
 '254': 50628,
 '255': 8970,
 '256': 55705,
 '257': 6895,
 '258': 8575,
 '259': 6158,
 '260': 26156,
 '261': 1656,
 '262': 9049,
 '263': 83858,
 '264': 29883,
 '265': 10212,
 '266': 51202,
 '267': 79009,
 '268': 22907,
 '269': 8890,
 '270': 9513,
 '271': 26354,
 '272': 2975,
 '273': 11100,
 '274': 81887,
 '275': 399664,
 '276': 51021,
 '277': 56945,
 '278': 51649,
 '279': 23107,
 '280': 64969,
 '281': 5042,
 '282': 55003,
 '283': 10038,
 '284': 23178,
 '285': 27043,
 '286': 25885,
 '287': 51065,
 '288': 10772,
 '289': 8887,
 '290': 26608,
 '291': 81030,
 '292': 284695,
 '293': 8340,
 '294': 5441,
 '295': 4204,
 '296': 8334,
 '297': 8348,
 '298': 5432,
 '299': 8342,
 '300': 5435,
 '301': 5440,
 '302': 8341,
 '303': 51701,
 '304': 3017,
 '305': 5436,
 '306': 5437,
 '307': 5438,
 '308': 474382,
 '309': 3013,
 '310': 55766,
 '311': 8450,
 '312': 6606,
 '313': 6607,
 '314': 81929,
 '315': 191,
 '316': 8775,
 '317': 8774,
 '318': 6184,
 '319': 58490,
 '320': 3921,
 '321': 6238,
 '322': 6294,
 '323': 6385,
 '324': 6396,
 '325': 10484,
 '326': 10483,
 '327': 9632,
 '328': 9739,
 '329': 7536,
 '330': 6421,
 '331': 6449,
 '332': 6455,
 '333': 7884,
 '334': 6525,
 '335': 6625,
 '336': 22938,
 '337': 10580,
 '338': 6692,
 '339': 8878,
 '340': 23524,
 '341': 51593,
 '342': 7158,
 '343': 5566,
 '344': 539,
 '345': 7917,
 '346': 10574,
 '347': 988,
 '348': 2821,
 '349': 4436,
 '350': 5093,
 '351': 10016,
 '352': 5478,
 '353': 7086,
 '354': 7415,
 '355': 2783,
 '356': 6117,
 '357': 9869,
 '358': 7846,
 '359': 5859,
 '360': 1738,
 '361': 4088,
 '362': 7088,
 '363': 3832,
 '364': 51150,
 '365': 10381,
 '366': 9757,
 '367': 7273,
 '368': 10980,
 '369': 8544,
 '370': 4287,
 '371': 7704,
 '372': 5592,
 '373': 7114,
 '374': 221184,
 '375': 2661,
 '376': 51377,
 '377': 9020,
 '378': 23564,
 '379': 1019,
 '380': 2634,
 '381': 5162,
 '382': 7375,
 '383': 1059,
 '384': 3032,
 '385': 5928,
 '386': 10749,
 '387': 307,
 '388': 7321,
 '389': 5599,
 '390': 27097,
 '391': 84254,
 '392': 11161,
 '393': 6612,
 '394': 85365,
 '395': 11124,
 '396': 1780,
 '397': 3093,
 '398': 55233,
 '399': 285,
 '400': 118429,
 '401': 7123,
 '402': 1302,
 '403': 1760,
 '404': 3397,
 '405': 54973,
 '406': 4804,
 '407': 10641,
 '408': 7849,
 '409': 23646,
 '410': 5699,
 '411': 54437,
 '412': 3431,
 '413': 7694,
 '414': 170959,
 '415': 1026,
 '416': 10522,
 '417': 1869,
 '418': 7083,
 '419': 23352,
 '420': 5966,
 '421': 7185,
 '422': 9659,
 '423': 672,
 '424': 4609,
 '425': 7251,
 '426': 51512,
 '427': 8318,
 '428': 983,
 '429': 1460,
 '430': 1933,
 '431': 9343,
 '432': 83481,
 '433': 2969,
 '434': 10013,
 '435': 3181,
 '436': 3190,
 '437': 3303,
 '438': 3304,
 '439': 3312,
 '440': 142,
 '441': 5111,
 '442': 10594,
 '443': 5684,
 '444': 5701,
 '445': 5708,
 '446': 10197,
 '447': 22827,
 '448': 5914,
 '449': 6217,
 '450': 6230,
 '451': 6233,
 '452': 6500,
 '453': 8402,
 '454': 10971,
 '455': 1017,
 '456': 3306,
 '457': 4176,
 '458': 6502,
 '459': 6777,
 '460': 3725,
 '461': 79155,
 '462': 1111,
 '463': 11200,
 '464': 1613,
 '465': 4193,
 '466': 5300,
 '467': 5925,
 '468': 5934,
 '469': 6667,
 '470': 1020,
 '471': 6305,
 '472': 29117,
 '473': 10912,
 '474': 84289,
 '475': 8451,
 '476': 7376,
 '477': 6645,
 '478': 10765,
 '479': 9611,
 '480': 9612,
 '481': 56647,
 '482': 894,
 '483': 6794,
 '484': 4089,
 '485': 8050,
 '486': 5705,
 '487': 125950,
 '488': 3009,
 '489': 1387,
 '490': 2033,
 '491': 1025,
 '492': 8453,
 '493': 23028,
 '494': 3091,
 '495': 7314,
 '496': 2801,
 '497': 10318,
 '498': 817,
 '499': 1021,
 '500': 6925,
 '501': 3801,
 '502': 996,
 '503': 1643,
 '504': 26524,
 '505': 4194,
 '506': 7150,
 '507': 29911,
 '508': 57332,
 '509': 22806,
 '510': 10133,
 '511': 56254,
 '512': 4087,
 '513': 9759,
 '514': 5261,
 '515': 54880,
 '516': 154796,
 '517': 3065,
 '518': 8454,
 '519': 5861,
 '520': 836,
 '521': 79885,
 '522': 8850,
 '523': 7020,
 '524': 25792,
 '525': 1432,
 '526': 6597,
 '527': 9685,
 '528': 57634,
 '529': 4255,
 '530': 6494,
 '531': 6760,
 '532': 58525,
 '533': 3066,
 '534': 7421,
 '535': 1050,
 '536': 572,
 '537': 4800,
 '538': 51366,
 '539': 5218,
 '540': 9063,
 '541': 1647,
 '542': 57159,
 '543': 26057,
 '544': 26058,
 '545': 51191,
 '546': 7841,
 '547': 30827,
 '548': 9882,
 '549': 4780,
 '550': 50484,
 '551': 8637,
 '552': 5583,
 '553': 5575,
 '554': 8315,
 '555': 595,
 '556': 896,
 '557': 990,
 '558': 898,
 '559': 890,
 '560': 2308,
 '561': 2309,
 '562': 4303,
 '563': 860,
 '564': 6830,
 '565': 1018,
 '566': 211,
 '567': 8237,
 '568': 865,
 '569': 5425,
 '570': 991,
 '571': 51053,
 '572': 9698,
 '573': 114907,
 '574': 10466,
 '575': 3104,
 '576': 9134,
 '577': 8317,
 '578': 55388,
 '579': 5828,
 '580': 1163,
 '581': 7324,
 '582': 10309,
 '583': 200186,
 '584': 51514,
 '585': 115426,
 '586': 10389,
 '587': 864,
 '588': 55805,
 '589': 23093,
 '590': 4616,
 '591': 1589,
 '592': 9853,
 '593': 25946,
 '594': 57060,
 '595': 1654,
 '596': 10075,
 '597': 3980,
 '598': 5217,
 '599': 5154,
 '600': 54443,
 '601': 1173,
 '602': 85021,
 '603': 9531,
 '604': 1399,
 '605': 2673,
 '606': 3310,
 '607': 3858,
 '608': 3849,
 '609': 3852,
 '610': 3854,
 '611': 5499,
 '612': 6223,
 '613': 5269,
 '614': 84790,
 '615': 10383,
 '616': 7529,
 '617': 7532,
 '618': 8880,
 '619': 8601,
 '620': 6723,
 '621': 54187,
 '622': 4926,
 '623': 79890,
 '624': 4332,
 '625': 9093,
 '626': 18,
 '627': 2098,
 '628': 9826,
 '629': 7422,
 '630': 4000,
 '631': 3182,
 '632': 25913,
 '633': 5108,
 '634': 5770,
 '635': 5979,
 '636': 23603,
 '637': 53347,
 '638': 23644,
 '639': 5706,
 '640': 55697,
 '641': 116211,
 '642': 10006,
 '643': 27,
 '644': 868,
 '645': 23624,
 '646': 2241,
 '647': 23114,
 '648': 6655,
 '649': 7410,
 '650': 9228,
 '651': 3667,
 '652': 3866,
 '653': 51517,
 '654': 326,
 '655': 9472,
 '656': 55114,
 '657': 613,
 '658': 831,
 '659': 8506,
 '660': 51428,
 '661': 9229,
 '662': 58512,
 '663': 9046,
 '664': 2048,
 '665': 2322,
 '666': 2550,
 '667': 9402,
 '668': 2906,
 '669': 3073,
 '670': 10236,
 '671': 3815,
 '672': 11184,
 '673': 11183,
 '674': 64780,
 '675': 4969,
 '676': 64714,
 '677': 5359,
 '678': 4007,
 '679': 2889,
 '680': 10557,
 '681': 23429,
 '682': 2810,
 '683': 6461,
 '684': 8651,
 '685': 6776,
 '686': 79723,
 '687': 4957,
 '688': 5700,
 '689': 6310,
 '690': 919,
 '691': 55211,
 '692': 2209,
 '693': 57187,
 '694': 4350,
 '695': 57498,
 '696': 8835,
 '697': 3927,
 '698': 54386,
 '699': 22918,
 '700': 3514,
 '701': 27252,
 '702': 9749,
 '703': 467,
 '704': 64423,
 '705': 9232,
 '706': 84700,
 '707': 6853,
 '708': 23476,
 '709': 56943,
 '710': 3008,
 '711': 22974,
 '712': 283899,
 '713': 5747,
 '714': 57805,
 '715': 9738,
 '716': 11167,
 '717': 3690,
 '718': 2212,
 '719': 10817,
 '720': 29116,
 '721': 57532,
 '722': 84932,
 '723': 103,
 '724': 28999,
 '725': 2137,
 '726': 1912,
 '727': 2049,
 '728': 8557,
 '729': 23163,
 '730': 253980,
 '731': 6775,
 '732': 2051,
 '733': 2334,
 '734': 56139,
 '735': 8761,
 '736': 3007,
 '737': 56895,
 '738': 55748,
 '739': 3305,
 '740': 55509,
 '741': 6996,
 '742': 1345,
 '743': 8030,
 '744': 29888,
 '745': 699,
 '746': 2175,
 '747': 3480,
 '748': 7994,
 '749': 10188,
 '750': 5293,
 '751': 10677,
 '752': 63922,
 '753': 7159,
 '754': 55139,
 '755': 54518,
 '756': 51642,
 '757': 2213,
 '758': 2214,
 '759': 8495,
 '760': 1600,
 '761': 22927,
 '762': 2815,
 '763': 8732,
 '764': 2002,
 '765': 2004,
 '766': 9047,
 '767': 5896,
 '768': 6936,
 '769': 84292,
 '770': 84941,
 '771': 5794,
 '772': 9672,
 '773': 84458,
 '774': 7465,
 '775': 10687,
 '776': 3835,
 '777': 6886,
 '778': 23586,
 '779': 8660,
 '780': 23013,
 '781': 3674,
 '782': 5639,
 '783': 10818,
 '784': 55888,
 '785': 2140,
 '786': 10922,
 '787': 79230,
 '788': 117581,
 '789': 7294,
 '790': 917,
 '791': 1952,
 '792': 81875,
 '793': 1840,
 '794': 64762,
 '795': 5287,
 '796': 526,
 '797': 5597,
 '798': 2146,
 '799': 7319,
 '800': 81622,
 '801': 9401,
 '802': 466,
 '803': 873,
 '804': 1615,
 '805': 1938,
 '806': 112399,
 '807': 8518,
 '808': 23197,
 '809': 2521,
 '810': 3843,
 '811': 3939,
 '812': 54888,
 '813': 5230,
 '814': 5720,
 '815': 5901,
 '816': 26135,
 '817': 9352,
 '818': 1155,
 '819': 51547,
 '820': 6772,
 '821': 6872,
 '822': 5031,
 '823': 1107,
 '824': 64210,
 '825': 38,
 '826': 1152,
 '827': 134285,
 '828': 9368,
 '829': 6615,
 '830': 5537,
 '831': 23076,
 '832': 6780,
 '833': 5756,
 '834': 10791,
 '835': 9991,
 '836': 6789,
 '837': 50,
 '838': 7347,
 '839': 10014,
 '840': 55898,
 '841': 55294,
 '842': 3840,
 '843': 56852,
 '844': 90850,
 '845': 221302,
 '846': 26260,
 '847': 6146,
 '848': 11091,
 '849': 23633,
 '850': 4773,
 '851': 79577,
 '852': 8204,
 '853': 3839,
 '854': 5905,
 '855': 9958,
 '856': 9781,
 '857': 3836,
 '858': 5798,
 '859': 267,
 '860': 7511,
 '861': 1977,
 '862': 4507,
 '863': 4597,
 '864': 9520,
 '865': 23279,
 '866': 56478,
 '867': 6917,
 '868': 80777,
 '869': 23517,
 '870': 7398,
 '871': 27304,
 '872': 81930,
 '873': 10325,
 '874': 5786,
 '875': 9373,
 '876': 6197,
 '877': 23584,
 '878': 51540,
 '879': 27233,
 '880': 9540,
 '881': 284403,
 '882': 8570,
 '883': 11339,
 '884': 11140,
 '885': 1022,
 '886': 2026,
 '887': 4790,
 '888': 11051,
 '889': 5886,
 '890': 9972,
 '891': 6993,
 '892': 226,
 '893': 11335,
 '894': 1503,
 '895': 10521,
 '896': 3301,
 '897': 54431,
 '898': 3006,
 '899': 10949,
 '900': 220988,
 '901': 3184,
 '902': 3187,
 '903': 3189,
 '904': 7184,
 '905': 3945,
 '906': 4673,
 '907': 4697,
 '908': 5052,
 '909': 10935,
 '910': 27339,
 '911': 5725,
 '912': 5931,
 '913': 9584,
 '914': 55920,
 '915': 6155,
 '916': 6122,
 '917': 6133,
 '918': 6176,
 '919': 6181,
 '920': 6208,
 '921': 6224,
 '922': 6229,
 '923': 6477,
 '924': 9410,
 '925': 6626,
 '926': 6632,
 '927': 6633,
 '928': 6634,
 '929': 6635,
 '930': 6638,
 '931': 6432,
 '932': 10342,
 '933': 7277,
 '934': 81027,
 '935': 7284,
 '936': 11338,
 '937': 5935,
 '938': 59,
 '939': 51742,
 '940': 2068,
 '941': 10432,
 '942': 6119,
 '943': 27185,
 '944': 26528,
 '945': 54606,
 '946': 2091,
 '947': 10607,
 '948': 5887,
 '949': 902,
 '950': 2965,
 '951': 9318,
 '952': 5987,
 '953': 23770,
 '954': 56949,
 '955': 8531,
 '956': 9987,
 '957': 9804,
 '958': 5682,
 '959': 23468,
 '960': 440689,
 '961': 5984,
 '962': 51637,
 '963': 7112,
 '964': 7874,
 '965': 7756,
 '966': 1653,
 '967': 6428,
 '968': 22803,
 '969': 25879,
 '970': 1478,
 '971': 6426,
 '972': 163590,
 '973': 10250,
 '974': 399687,
 '975': 5252,
 '976': 10951,
 '977': 85302,
 '978': 2074,
 '979': 5424,
 '980': 10952,
 '981': 6613,
 '982': 8533,
 '983': 50813,
 '984': 10920,
 '985': 6839,
 '986': 1917,
 '987': 9978,
 '988': 3295,
 '989': 8148,
 '990': 7073,
 '991': 55827,
 '992': 50717,
 '993': 51121,
 '994': 2067,
 '995': 223,
 '996': 10450,
 '997': 1975,
 '998': 10189,
 '999': 5092,
 ...}

In [22]:
node_exaction_clone2=node_exaction.copy(deep=True)
node_exaction_clone2.head(5)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
meta100,49,1305,1.0],[49,1312,1.0],[49,3686,1.0],[49,...,1.0],[107,1284,1.0],[107,1305,1.0],[107,1766,1.0
meta101,7,1160,1.0],[7,6602,1.0],[11,83,1.0],[11,...,1.0],[70,131,1.0],[70,690,1.0],[70,1160,1.0
meta102,11,83,1.0],[11,89,1.0],[11,107,1.0],[11,...,1.0],[45,3784,1.0],[52,1343,1.0],[52,3946,1.0
meta103,11,83,1.0],[11,107,1.0],[11,110,1.0],[11,...,1.0],[45,71,1.0],[45,82,1.0],[45,110,1.0
meta104,11,107,1.0],[11,119,1.0],[11,120,1.0],[11,...,1.0],[68,3204,1.0],[68,3255,1.0],[68,3945,1.0

In [23]:
node_exaction_clone2.to_csv("edges_exaction_index.csv")

In [24]:
node_exaction_index=pd.read_csv(f'edges_exaction_index.csv',header=0,index_col=0,sep=',')
node_exaction_index.head(5)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
meta100,49,1305,1.0],[49,1312,1.0],[49,3686,1.0],[49,...,1.0],[107,1284,1.0],[107,1305,1.0],[107,1766,1.0
meta101,7,1160,1.0],[7,6602,1.0],[11,83,1.0],[11,...,1.0],[70,131,1.0],[70,690,1.0],[70,1160,1.0
meta102,11,83,1.0],[11,89,1.0],[11,107,1.0],[11,...,1.0],[45,3784,1.0],[52,1343,1.0],[52,3946,1.0
meta103,11,83,1.0],[11,107,1.0],[11,110,1.0],[11,...,1.0],[45,71,1.0],[45,82,1.0],[45,110,1.0
meta104,11,107,1.0],[11,119,1.0],[11,120,1.0],[11,...,1.0],[68,3204,1.0],[68,3255,1.0],[68,3945,1.0

In [25]:
node_exaction_index2=node_exaction_index.copy(deep=True)
node_exaction_index2.head(5)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
meta100,49,1305,1.0],[49,1312,1.0],[49,3686,1.0],[49,...,1.0],[107,1284,1.0],[107,1305,1.0],[107,1766,1.0
meta101,7,1160,1.0],[7,6602,1.0],[11,83,1.0],[11,...,1.0],[70,131,1.0],[70,690,1.0],[70,1160,1.0
meta102,11,83,1.0],[11,89,1.0],[11,107,1.0],[11,...,1.0],[45,3784,1.0],[52,1343,1.0],[52,3946,1.0
meta103,11,83,1.0],[11,107,1.0],[11,110,1.0],[11,...,1.0],[45,71,1.0],[45,82,1.0],[45,110,1.0
meta104,11,107,1.0],[11,119,1.0],[11,120,1.0],[11,...,1.0],[68,3204,1.0],[68,3255,1.0],[68,3945,1.0

In [26]:
for i in node_exaction_index2.columns:
  node_exaction_index2[i]=node_exaction_index2[i].astype(str).str.replace('[','')
node_exaction_index2.head(5)

/opt/conda/lib/python3.7/site-packages/ipykernel_launcher.py:2: FutureWarning: The default value of regex will change from True to False in a future version. In addition, single character regular expressions will *not* be treated as literal strings when regex=True.

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
meta100,49,1305,1.0],49,1312,1.0],49,3686,1.0],49,...,1.0],107,1284,1.0],107,1305,1.0],107,1766,1.0
meta101,7,1160,1.0],7,6602,1.0],11,83,1.0],11,...,1.0],70,131,1.0],70,690,1.0],70,1160,1.0
meta102,11,83,1.0],11,89,1.0],11,107,1.0],11,...,1.0],45,3784,1.0],52,1343,1.0],52,3946,1.0
meta103,11,83,1.0],11,107,1.0],11,110,1.0],11,...,1.0],45,71,1.0],45,82,1.0],45,110,1.0
meta104,11,107,1.0],11,119,1.0],11,120,1.0],11,...,1.0],68,3204,1.0],68,3255,1.0],68,3945,1.0

In [27]:
for i in node_exaction_index2.columns:
    if (int(i)+1)% 3!=0:
       pass
    else:
       print(i)

2
5
8
11
14
17
20
23
26
29
32
35
38
41
44
47
50
53
56
59
62
65
68
71
74
77
80
83
86
89
92
95
98
101
104
107
110
113
116
119
122
125
128
131
134
137
140
143
146
149
152
155
158
161
164
167
170
173
176
179
182
185
188
191
194
197
200
203
206
209
212
215
218
221
224
227
230
233
236
239
242
245
248
251
254
257
260
263
266
269
272
275
278
281
284
287
290
293
296
299

In [28]:
node_exaction_index2.to_csv("edges_exaction_index1.csv")

In [29]:
node_exaction_index=pd.read_csv(f'edges_exaction_index1.csv',header=0,index_col=0,sep=',')
node_exaction_index.head(5)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
meta100,49,1305,1.0],49,1312,1.0],49,3686,1.0],49,...,1.0],107,1284,1.0],107,1305,1.0],107,1766,1.0
meta101,7,1160,1.0],7,6602,1.0],11,83,1.0],11,...,1.0],70,131,1.0],70,690,1.0],70,1160,1.0
meta102,11,83,1.0],11,89,1.0],11,107,1.0],11,...,1.0],45,3784,1.0],52,1343,1.0],52,3946,1.0
meta103,11,83,1.0],11,107,1.0],11,110,1.0],11,...,1.0],45,71,1.0],45,82,1.0],45,110,1.0
meta104,11,107,1.0],11,119,1.0],11,120,1.0],11,...,1.0],68,3204,1.0],68,3255,1.0],68,3945,1.0

In [30]:
for i in node_exaction_index.columns:
  if (int(i)+1)% 3!=0:
     df=node_exaction_index[i]
     node_exaction_index[i]=node_exaction_index[i].map(node_key_value)
     df.update(node_exaction_index[i])
node_exaction_index.head(5)

,0,1,2,3,4,5,6,7,8,9,...,290,291,292,293,294,295,296,297,298,299
meta100,10726,5603,1.0],10726,1999,1.0],10726,2107,1.0],10726,...,1.0],3178,9092,1.0],3178,5603,1.0],3178,6235,1.0
meta101,14,81631,1.0],14,10076,1.0],93185,1655,1.0],93185,...,1.0],292,6142,1.0],292,919,1.0],292,81631,1.0
meta102,93185,1655,1.0],93185,3020,1.0],93185,3178,1.0],93185,...,1.0],7133,59269,1.0],51100,10923,1.0],51100,6166,1.0
meta103,93185,1655,1.0],93185,3178,1.0],93185,3192,1.0],93185,...,1.0],7133,293,1.0],7133,1642,1.0],7133,3192,1.0
meta104,93185,3178,1.0],93185,4869,1.0],93185,26986,1.0],93185,...,1.0],1650,746,1.0],1650,6746,1.0],1650,6164,1.0

In [31]:
node_exaction_index.to_csv("NK_explain_edges.csv")

In [32]:
len(node_exaction_index)

3487